/AutoFitTextViewLibrary/gen
/AutoFitTextViewLibrary/bin
/AutoFitTextViewSample/bin
/AutoFitTextViewSample/gen
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/tasks.xml
/.idea/vcs.xml
/.idea/misc.xml
.DS_Store
/build
